.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: purple;
  font-size: 35px;
}
.project img {
  width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: purple;
}

.project svg {
  font-size: 60px;
  color: purple;
}

.project .skill-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b38dff;
  color: white;
  padding: 50px;
  border-radius: 20px;
}
.project .skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.project .skill-icon {
  margin-right: 10px;
}
