.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: purple;
  font-size: 35px;
}
.project a,
img {
  position: relative;
  width: 700px;
  height: 250px;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: purple;
}

.project svg {
  font-size: 60px;
  color: purple;
}

.project .skill-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b38dff;
  color: white;
  padding: 50px;
  border-radius: 20px;
}
.project .skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.project .skill-icon {
  margin-right: 10px;
}
.visit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.6;
  top: 0;
  font-size: 72px;
  color: white;
  outline: none;
  border-radius: 10px;
}
.visit:hover {
  trasition: all 0.5s;
  font-size: 100px;
}
